.App {
  text-align: center;
  height: 100vh;
  padding: 80px 0;
  background-color: #282c34;
}
.slider-container {
  position: relative;
  left: -200px;
  width: 80%;
  transform: skew(-35deg);
}
.slider-img {
  height: 100%;
  width: 75px;
}
.slider-img-main {
  width: 500px;
}

.slider-content {
  position: relative;
  left: -100px;
  width: 85%;
  height: 35%;
  display: flex;
  overflow: hidden;
  /* padding: 0px 50px; */
  overflow: hidden;
}
.slider-content button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.slider-content .next-btn {
  right: 0px;
}
.slider-content .prev-btn {
  left: 0px;
}
.slider-content .content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 1s;
}